@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');


h1,p {
  text-align: center;
  color:#F0F2F2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  padding-top: 30px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 1.125rem;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 20px;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(120deg,#393E59,#6FBFBF);
    background-image: 
  linear-gradient(115deg,rgba(111, 191, 191, 0.2),rgba(130, 217, 217, 0.2) ), 
  url(https://fondosmil.com/fondo/12548.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

form {
  background-color: rgba(240,242,242,0.9);
  color: #010326;
  display: float;
  border-radius: 0.45rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

fieldset {
   border: none;
}

div {
  margin: 1rem 1rem 1.25rem 1rem;
  padding: 0.25rem;
}

.form-control {
  font-size: 1.125rem;
  display: block;
  width: 100%;
  height: 2.375rem;
  color: #495057;
  background-color:rgba(255,255,255,1);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-textarea {
  font-size: 1.125rem;
  min-height: 120px;
  width: 100%;
  resize: vertical;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.submit-button {
  display: block;
  width: 40%;
  margin: 2em auto;
  padding: 0.75rem;
  background: #C3C4C4;
  font-size: 1rem;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}


.copyright {
  font-size: 0.5rem;
}
